body {
    background-color: #393838;
    font-family: 'Roboto Mono', monospace;

}
.minha-foto {
    width: 150%;
}
.org{
    display: flex;
    padding: 0;
}
.nome {
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-nome {
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.idade{
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-idade {
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.profissão-atual{
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-profissão-atual{
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.profissão-futura{
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-profissão-almejada{
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.rede-social{
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-rede-social{
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.trajetória-acadêmica{
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-trajetória{
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.sobre-mim{
    text-shadow: 0px 0px 7px #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size:  25px;
    text-align:justify;
    padding: 0 0 0 250px;
    color: white;
}

.resposta-sobre-mim{
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: bold;
    font-size:  25px;
    text-align:justify;
    padding: 0 10px;
}

.minha-foto {
    padding: 50px 0 50px 0;
    text-align: center;
    width: 200px;
}
.imagem {
    text-align: center;
}
